@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	color: white;
	background-color: #1a1a1a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 2vh;
    margin: 1vh 2vw 1vh 2vw;
    font-weight: 500;
}

h1{
    font-size: 4vh;
    margin: 1vh 2vw 1vh 2vw;
    font-weight: 600;
}

h2{
    font-size: 3vh;
    margin: 1vh 2vw 1vh 2vw;
    font-weight: 600;
}

li{
    font-size: 1.5vh;
    margin: 1vh 2vw 1vh 2vw;
    font-weight: 500;
}

.container {
    margin: auto;
    width: 80vw;
    height: fit-content;
    padding: 3vh;
    background-color: #2a2a2a;
    border-radius: 1vh;
    border-color: white;
}

.container:hover{
    background-color: #3a3a3a;
}

.languageImg{
    max-width: 7vw;
    max-height: 7vh;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}
